.banner { 
  background-image: url(bannerbg/bannerbg9.jpg);
  background-position: center;
  background-size: cover;
  height: 310px;
}
.text-block{
  padding-top: 2em;
  text-align: center;
  font-size: 60px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 3px 2px 5px black;
}
h1{
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgba(249, 247, 244,0.58);
  text-decoration: underline; 
  text-align: center;
  font-size: 35px;
  font-weight:bold;
  font-style:oblique;
  text-shadow: 2px 2px 5px rgb(135,206,250)
  
}
.col{
  background-color: rgba(249, 247, 244,0.58);
  display: flex;
  justify-content: center;
}
table{
  border: 2px solid black;
  border-spacing: 2px;
  height:5em;
  margin-top:10px;
  margin-left: 10px;
  margin-bottom: 25px;
  font-size: 2em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
th{
  border: 1px solid black;
  background-color: rgb(233,255,219);
  padding-top:5px;
  padding-bottom:5px;
}
td{
  border: 1px solid black;
  text-align: center;
  background-color: rgb(255,255,224);
  padding-left:10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom:5px;
}

h2{
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgba(249,247,244);
  text-decoration: underline; 
  text-align: center;
  font-size: 35px;
  font-weight:bold;
  font-style:oblique;
  text-shadow: 2px 2px 5px rgb(135,206,250)
}
.row1{
  display:flex;
  margin-top:10px;
  margin-left: 50px;
  margin-right: 50px;
}
.col1{
  background-color: rgb(240,255,240);
  margin: 10px;
  padding-left:23px;
  padding-right:10px;
  padding-bottom: 13px;
  border: 1px solid rgb(64,21,217);
  border-radius: 7px;
  font-size: 17px;
  width: 33.33%;
}
.plan{
  font-weight:bold;
  color:rgb(28,120,99,0.899);
  font-size:23px;
  text-align:center;
  font-family:monospace;
}
.court{
  display: flex;
  justify-content: center;
}
.courtrow img{
  width: 230px;
  height: 150px;
}
.courtrow{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.serve{
  font-style:oblique;
  font-size:19px;
  line-height: 2em;
  text-align: center;
  background-color: #8395ba;
  color: #FFFFFF;
}
.bottompic {
  height:225px; 
  background-attachment: fixed;
  background-image: url(bannerbg/redbg.jpeg);  
  background-position: center; 
  background-size: cover;
} 
.bottomtext{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-top: 80px;
  text-shadow: 3px 2px 5px black;
}
.button{
  margin-left:45%;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  transition: .4s;
  background-color: rgb(43, 235, 126);
  width: fit-content;
}
.button:hover{
  border-radius: 30px;
  background-color: yellow;
}
.button a{
  color: black;
}
.background{
  background-color: rgba(237,237,242,0.473);
}
.background2{
  background-color: rgb(249,247,244);
}





